body {
  margin: 10px 8px;
}
h1 {
  font-size: 2em;
  margin: 20px 0px;
}

h2 {
  font-size: 1.5em;
  margin: 15px 0px;
}

div#settings {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 8px 0px;
  padding: 8px 0px;
}

div#settings input#rss_feed {
  width: 350px;
}

div#content {
  
}

div#content ul li {
  margin: 8px 0;
  padding: 8px 4px;
  clear: both;
}

div#content ul li.even {
  background-color: #DCDCDC;
}
div#content ul li div.information {
  float: right;
  width:75%;
}

div#content ul li div.media img {
  width:100px;
}